body {
    background-color: #f8f8f8;
}
.body-content {
    background: #fff;
}

.navbar {
    box-shadow: 2px 2px 5px #b8c5d6;
    opacity: 0.9;
    background: #fff;
    /*background-color: #23ce6b; */
}
.navbarA {
    z-index: 20;
}
.navbarB {
    z-index: 19;
}
.navbar-brand img {
    position: absolute;
    top: -1px;
    left: 20px;
}
.nav-link {
    color: #000;
}
.navbar-dark {
    background:url('../img/bg_base.png');
    background-position: 0 -100px;
    background-size: cover;
}

.carousel-item {
    height: 450px;
}
.carousel-image-1 {
    background:url('../img/carousel/courthouse.jpg');
    background-size: cover;
}
.carousel-image-2 {
    background:url('../img/carousel/downtown.jpg');
    background-size: cover;
}
.carousel-image-3 {
    background:url('../img/carousel/golfCourse.jpg');
    background-size: cover;
}
.carousel-image-4 {
    background:url('../img/carousel/schools.jpg');
    background-size: cover;
}
.carousel-image-5 {
    background:url('../img/carousel/golf.jpg');
    background-size: cover;
}
.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.3);
}
.carousel-caption{
    width:100%;
    height:100%;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.2);
  }

/*yii2 and bootrap 4 quirk where when use template errors dont highlight*/
.form-control-invalid-feedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
/*ckeditor likes to overlay error messages. This hacks around that*/
.invalidFix .invalid-feedback {
    display:block !important;
    left: 0;
    top: 2.5em;
  }
/*Adding this back as aparently it was in bootstrap 3 but not in bootstrap 4*/
.breadcrumb > li + li:before {
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}
/*Calendar formatting*/
.out-of-range{
    opacity: .4;
}
.out-of-range-before{
    background: repeating-linear-gradient(
      -45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
}
.out-of-range-after{
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
}

.staffImg .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;
}
.fc-event-container {
    cursor: pointer;
}

/* The color of the indicators */
.staffImg .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.staffImg .carousel-indicators .active {
background: #707070;
}
.cardEdit {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 4;
}
/*Admin menu formatting*/
.adminFloater {
    position:fixed;
    top:100px;
    right:20px;
    /*z-index: 5; interfears with nav menu*/
}
.adminFloaterRev2 {
    background: rgba(0,0,0,.2);
}
/*paralex effects*/
#calendar-heading {
    position: relative;
    min-height:175px;
    background: url('../img/calendar_1280x520.png');
    background-attachment:fixed;
    background-position: 250px 0;
    width:100%;
    background-repeat: no-repeat;
    text-align:center;
    color:#fff;
}
#city-heading {
    position: relative;
    min-height:175px;
    background: url('../img/downtown.jpg');
    background-attachment:fixed;
    background-position: 0 -200px;
    background-repeat: no-repeat;
    text-align:center;
    color:#fff;
}
#food-heading {
    position: relative;
    min-height:175px;
    background: url('../img/assets/1546706911987.jpg');
    background-attachment:fixed;
    background-position: 0 -200px;
    background-repeat: no-repeat;
    text-align:center;
    color:#fff;
}

#rec-heading {
    position: relative;
    min-height:175px;
    background: url('../img/assets/1547328212579.jpg');
    background-attachment:fixed;
    background-position: 0 -700px;
    background-repeat: no-repeat;
    text-align:center;
    color:#fff;
}
/*Sidebar color scheme*/
.bg-sidebar {
    background-color: #385c65 !important;
}
.headerTextShadow {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.dark-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.4);
}
.parallax-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.parallax-section {
    position: relative;
    background-attachment:fixed;
    background-repeat: no-repeat;
}
/*featured page image*/
.featured-img {
    margin-top:-50px;
}
/*Ajax upload formatting*/
.img_preview {
    width: 300px;
    position: relative;
    display: none;
}
img#img_preview {
    width: 100%;
    max-width:100px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;   
}
.im_progress {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.loader_img{
    position: absolute;
    top: 50%;
    left: 50%;  
}

/* Slick Slider Css Ruls */

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
  
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}
  
.slick-list:focus {
    outline: none
}
  
.slick-list.dragging {
    cursor: hand
}
  
.slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
  
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}
  
.slick-track:before,
  .slick-track:after {
    display: table;
    content: ''
}
  
.slick-track:after {
    clear: both
}
  
.slick-loading .slick-track {
    visibility: hidden
}
  
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px
}
  
.slick-slide.dragging img {
    pointer-events: none
}
  
.slick-initialized .slick-slide {
    display: block
}
  
.slick-loading .slick-slide {
    visibility: hidden
}
  
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}
  
.img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}
  
.img-fill img {
    height: 100%;
    min-width: 100%;
    position: relative;
    display: inline-block;
    max-width: none
}

/* Slider Theme Style */
.slick .Slick-Next,
.slick .Slick-Prev {
    display: inline-block;
    width: 28px;
    /*height: 38px;*/
    margin-top: 6px;
    background: #2b2b2b;
    color: #FFF;
    margin-left: 5px;
    cursor: pointer;
    font: 18px/36px FontAwesome;
    text-align: center;
    transition: all 0.5s;
}

.slick .Slick-Next:hover,
.slick .Slick-Prev:hover {
    background: #33687a;
}

.slick .modHeader {
    font-size: 1.1rem;
    text-align: right;
    text-transform: uppercase;
}
/*



  .Container {
    padding: 0 15px;
  }
  
  .Container:after,
  .Container .Head:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .Container .Head {
    font: 20px/50px NeoSansR;
    color: #222;
    height: 52px;
    overflow: hidden;
    border-bottom:1px solid rgba(0,0,0,.25);
  }
  
 
  
  .Container .Head .Slick-Next,
  .Container .Head .Slick-Prev {
    display: inline-block;
    width: 38px;
    height: 38px;
    margin-top: 6px;
    background: #2b2b2b;
    color: #FFF;
    margin-left: 5px;
    cursor: pointer;
    font: 18px/36px FontAwesome;
    text-align: center;
    transition: all 0.5s;
  }
  
  .Container .Head .Slick-Next:hover,
  .Container .Head .Slick-Prev:hover {
    background: #33687a;
  }
  

  
  .SlickCarousel {
    margin: 0 -7.5px;
    margin-top: 10px;
  }
  
  .ProductBlock {
    padding: 0 7.5px;
  }
  
  .ProductBlock .img-fill {
    height: 200px;
  }
  
  .ProductBlock h3 {
    font: 15px/36px RalewayR;
    color: #393939;
    margin-top: 5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .25);
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
  }
*/

/*Footer formatting*/

/*
.card {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom:1px;
  border:none;
}
.card-header:first-child {
  border-radius: 0;
}
.card-header {
  background-color: #f7f7f9;
  margin-bottom: 0;
  padding: 20px 1.25rem;
  border:none;
  
}
.card-header a i{
  float:left;
  font-size:25px;
  padding:5px 0;
  margin:0 25px 0 0px;
  color:#195C9D;
}
.card-header i{
  float:right;        
  font-size:30px;
  width:1%;
  margin-top:8px;
  margin-right:10px;
}
.card-header a{
  width:97%;
  float:left;
  color:#565656;
}
.card-header p{
  margin:0;
}

.card-header h3{
  margin:0 0 0px;
  font-size:20px;
  font-family: 'Slabo 27px', serif;
  font-weight:bold;
  color:#3fc199;
}
.card-block {
  -moz-box-flex: 1;
  flex: 1 1 auto;
  padding: 20px;
  color:#232323;
  box-shadow:inset 0px 4px 5px rgba(0,0,0,0.1);
  border-top:1px soild #000;
  border-radius:0;
}

h2{float:left; width:100%; color:#fff; margin-bottom:30px; font-size: 14px;}
h2 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h2 a{color:#fff; font-weight:bold;}
*/

